@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #0191b3;
    --first-color-yellow: #f1d302ff;
    --first-color-yellow-red: #ffbf46ff;
    --first-color-light-blue: #94c5ccff;
    --second-color: #235789ff;
    --second-color-2: #525157;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;

    --light-blue: #94c5ccff;
    --cultured: #f8f8f8ff;
    --red-pigment: #ed1c24ff;
    --baby-powder: #fdfffcff;
    --bdazzled-blue: #0191b3;
    --safety-yellow: #f1d302ff;
    --maximum-yellow-red: #ffbf46ff;
    --black: #020100ff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    background-position:50vh; */
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size) !important;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center2{ 
    display: block !important;
    margin-right: auto;
    margin-left: auto;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.derecha{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.izquierda{
    display: flex;
    /* align-items: flex-start; */
    justify-content: start;
}
.hidden{
    display: none;
}
.block{
    display: block;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.static{
    position: static;
}
.default{
    color: #fff !important;
    font-family: Montserrat,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.pointer{
    cursor: pointer;
}

/* Botones  */
.btn-success{
    color: #fff !important;
    background-color: var(--first-color) !important;
    border-color: var(--first-color) !important;
}
.btn-success:hover{
    color: #fff;
    background-color: var(--second-color) !important;
    border-color: var(--second-color) !important;
}
.btn-outline-success {
    color: var(--first-color) !important;
    border-color: var(--first-color) !important;
}
.btn-outline-success:hover {
    color: #fff !important;
    background-color: var(--first-color) !important;
    border-color: var(--first-color) !important;
}
.btn-secondary{
    color: #fff !important;
    background-color: var(--second-color-2) !important;
    border-color: var(--second-color-2) !important;
}
.btn-secondary:hover{
    color: #fff;
    background-color: #3c4146 !important;
    border-color: #3c4146 !important;
}
.btn-outline-secondary {
    color: var(--second-color-2) !important;
    border-color: var(--second-color-2) !important;
}
.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: var(--second-color-2) !important;
    border-color: var(--second-color-2) !important;
}
.btn-warning{
    color: #000 !important;
    background-color: var(--first-color-yellow) !important;
    border-color: var(--first-color-yellow) !important;
}
.btn-warning:hover{
    color: #000;
    background-color: #ffc720 !important;
    border-color: #ffc720 !important;
}
.btn-outline-warning {
    color: var(--first-color-yellow) !important;
    border-color: var(--first-color-yellow) !important;
}
.btn-outline-warning:hover {
    color: #000 !important;
    background-color: var(--first-color-yellow) !important;
    border-color: var(--first-color-yellow) !important;
}
/* Botones  */

/* Formularios  */
.input-group{
    position: relative;
    --color: #5757577e;
}
.form-group{
    position: relative;
    --color: #5757577e;
}
.form-group p{
    position: relative;
    top: 0;
    left: 5px;
}
.form-input{
    color: var(--black);
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    margin-bottom: 24px;
}
.form-label{
    color: var(--color);
    cursor:text;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
    font-size: 1rem;
    z-index: 9;
}
.form-input:focus{
    box-shadow: none !important;
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    color: var(--first-color);
    position: absolute;
    bottom: 35px;
    font-size: 1.2rem;
}
.form-check{
    position: relative;
    top: 0;
    left: 5px;
}
/* Formularios  */

/* table  */
.table-wrap {
    overflow-x: scroll; 
}  
.table {
min-width: 1000px !important;
width: 100%;
background: #fff; }
.table thead.thead-primary {
    background: var(--first-color); }
.table thead th {
    border: none;
    padding: 18px 10px;
    font-size: 14px;
    color: #fff; }
.table tbody tr {
    margin-bottom: 10px; }
.table tbody th, .table tbody td {
    border: none;
    padding: 18px 10px; 
    border-bottom: 3px solid #f8f9fd;
    font-size: 14px; 
}
.table-modal{
    min-width: auto !important;
    overflow-y: auto;
}
/* table  */


/* Filter  */
.filter-group {
    position: absolute;
}
.filter-icon {
    position: relative;
    top: 8px;
    left: 70px;
    margin-top: 7px;
}
.filter-icon i {
    font-size: 18px;
    opacity: 0.7;
}
/* Filter  */


/*Menú Vertical*/
.nav_link{
    margin-bottom: 0.5rem !important;
}
.itemShow{
    margin-left: 24px;
}
.itemShow li{
    list-style: none;
    color: #fff;
}
.itemShow a{
    color: #fff;
}
.itemShow a:hover{
    color: rgb(192, 185, 185);
    cursor: pointer;
}
.dropdown-menu{
    background-color: var(--first-color);
    /* opacity: 0.8; */
}
.dropdown-menu a:hover{
    color: var(--first-color-yellow) !important;
}
/*Menú Vertical*/

/* Login */
.rowLogin{
    /* width: 100vw; */
    height: 72.7vh;
}
/* Login  */

/* Cuenta  */
.avatar{
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.avatar img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.avatar #avatar-link{
    position: absolute;
    display: none;
    background-color: var(--black);
    opacity: 0.2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    overflow: hidden;
}
#avatar-link #avatar-pencil{
    z-index: 1;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.avatar:hover{
    cursor: pointer;
}
/* Cuenta  */



@media screen and (min-width: 768px){
    .form-label{
        font-size: 1rem !important;
        /* transform: translateY(10px) !important; */
    }
    .form-input:focus + .form-label,
    .form-input:not(:placeholder-shown) + .form-label{
        font-size: 1.2rem !important;
    }    
}

@media screen and (min-width: 320px){
    .form-label{
        font-size: 0.8rem;
        transform: translateY(15px);
    }
    .form-input:focus + .form-label,
    .form-input:not(:placeholder-shown) + .form-label{
        font-size: 1rem;
    }
    
}